<ion-content class="login-content" padding>
  <ion-row class="logo-row ion-justify-content-center">
    <ion-col></ion-col>
    <ion-col size="4">
      <img src="assets/imgs/sushi.svg" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">
      <ion-row>
        <ion-col>

          <ion-item lines="none">
            <ion-label position="floating">{{'email' | locale}}</ion-label>
            <ion-input #emailInput type="text" name="email" formControlName="email" [autofocus]="true"
              autocomplete="off"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="floating">{{'password' | locale}}</ion-label>
            <ion-input type="password" name="password" name="password" formControlName="password"
              (keyup.enter)="login()" autocomplete="off">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <ion-button shape="round" fill="outline" size="large" expand="full" type="submit"
            [disabled]="!loginForm.valid">
            {{'login' | locale}}
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>