app-create-order {
	.product-item {
		ion-button {
			width: 36px;
			height: 36px;
			--padding-start: 0;
			--padding-end: 0;
			--border-radius: 50%;
		}

		.card-buttons {
			display: flex;
			flex-direction: row;
			align-items: center;

			& > * {
				display: flex;
			}
		}

		.quantity {
			margin: 0 8px;
			text-align: center;
		}
	}

	.create-order {
		.shopping-cart-col {
			max-width: 35px;

			#shopping-cart {
				width: 23px;
			}
		}

		#add-circle,
		#remove-circle {
			visibility: hidden;
			position: absolute;
		}
	}
}
